<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'about' %}">About</a></li>
        <li><a href="{% url 'contact' %}">Contact</a></li>
      </ul>
    </nav>
    <h1>Home Page</h1>
    <hr />
    {% if result.id %}
    <p>Task ID: {{ result.id }}</p>
    <a href="{% url 'check_result' result.id  %}">Check Task Result</a>
    {% endif %}
  </body>
</html>
